body{
    text-align: center;
}

.btn{
    height: 150px;
    width: 150px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 1.5rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.red{
    background-color: #F93827;
}

.yellow{
    background-color: #FF9D23;
}

.green{
    background-color: #16C47F;
}

.purple{
    background-color: #FF52A0;
}

.flash{
    background-color: white;
}

.userFlash{
    background-color: green;
}